<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<title>SkillBridge</title>
	<link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/components.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>

<header>
    <!-- Logo -->
	<img class="icons" id="logo" src="../assets/logos/SkillBridge - Logo - Negativo.svg" alt="Logo do SkillBrigde">

    <!-- Pesquisa -->
	<div class="search-box">
        <img class="icons" id="pesquisa" src="../assets/icons/Ícone - Pesquisa.svg" alt="Ícone de pesquisa">
        <input type="text" placeholder="Pesquise aqui...">
    </div>
    
    <!-- Navegação -->
    <nav>
    <a class="tertiary" href="../html/index.html">HOME</a>
    <a class="tertiary" href="../html/edital.html">VAGAS</a>
	</nav>

    <!-- Perfil -->
	<img class="icons" id="perfil" src="../assets/icons/Ícone - Usuário.svg" alt="Ícone de perfil">
</header>

</body>

</html>